bin
tmp
local.properties
*.tmp
*.bak
*.swp
*~.nib
*.launch
.metadata
.settings
.loadpath
.recommenders
.project
.externalToolBuilders
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.gradle